$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:          darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:          #5cb85c !default;
$brand-info:             #5bc0de !default;
$brand-warning:          #f0ad4e !default;
$brand-danger:           #d9534f !default;
$brand-ui:               #DFDFDF;
$brand-default:          #DFDFDF;

//APP COLORS
$sapphire:              #2130A0;
$warm-grey:             #878787;
$white:                 #FFFFFF;
$dark-indigo:           #091259;
$cream:                 #F8F8F8;
$cornflower:            #679DF6;
$brownish-grey:         #616161;
$purpleblue:            #5F20D4;

$color-brand: 					$sapphire;

$body-bg:								white;
$hr-border:							$gray-lighter;
$link-color:						$brand-info;
$link-hover-color:			darken($link-color, 15%);
$color-text-body:       $warm-grey;




//APP COLORS
$gray-bckgr: 						#ECEDEE;
$gray-highlight:				#DFE0E2;
$gray-text:							#5E5A5B;
$gray-label:						#4E5151;

$blue:									#0E4572;
$dark-blue:							#244C5D;
$red:										#8B181C;
$yellow:								#EAE735;
$green:									#21B166;
$dark-green:						#1EA29B;

$fb-color: 							#2C4388;
$google-color:					#D53427;



