@font-face {
  font-family: 'Rubik';
  src:  url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/Rubik-Regular.woff') format('woff'), 
        url('../fonts/Rubik-Regular.ttf')  format('truetype'), 
        url('../fonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src:  url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/Rubik-Light.woff') format('woff'), 
        url('../fonts/Rubik-Light.ttf')  format('truetype'), 
        url('../fonts/Rubik-Light.svg#Rubik-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src:  url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/Rubik-Bold.woff') format('woff'), 
        url('../fonts/Rubik-Bold.ttf')  format('truetype'), 
        url('../fonts/Rubik-Bold.svg#Rubik-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}