.button--primary {
  @include box-shadow(0 1px 1px 0 rgba(0, 0, 0, 0.47));
  @include rem(17);
  color: $color-brand;
  background-color: $white;
  border-radius: $btn-border-radius;
  font-weight: 700;
  &:hover {
    @include box-shadow(0 1px 1px 0 rgba(255, 242, 242, 0.15));
    background-color: $dark-indigo;
    color: rgba($cream, 0.65);
  }
}


