.search {
  &__main-title {
    @include rem(40);
    @media #{$medium}{
      @include rem(50);
    }
  }
  &__main-container {
    padding: $base-spacing-unit;
  }
  &__display {
    display: block;
    @media #{$medium}{
      margin-top: $base-spacing-unit*7;
    }
    &-title {
      max-width: 539px;
      margin: auto;
    }
    &-icon {
      position: absolute;
      top: 530px;
      right: 150px;
      transform: rotate(-90deg);
      width: 120px;
      display: none;
      @media #{$medium}{
        display: block;
      }
    }
  }
  &__header {
    background-color: rgba($gray-bckgr, 0.4);
    border-bottom: 2px solid $gray-bckgr;
  }
  &__title {
    margin: 0 $base-spacing-unit $half-spacing-unit 0;
    vertical-align: top;
    text-align: center;
    @include rem(32);
    a {
      color: $gray-label;
    }
    @media #{$medium}{
      display: inline-block;
      text-align: $start;
    }
  }
  &__main {
    @include rem(16, 'padding');
    &-input {
      display: inline-block;
      width: 100% !important;
      margin-bottom: $half-spacing-unit;
      .react-selectize-control {
        background: #fff !important;
        border: none !important;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
      }
    }
  }
  &__subsection {
    &-input {
      width: 100% !important;
      @include rem(14);
      &.disabled {
        .react-selectize-control {
          box-shadow: none !important;
          border: 1px solid rgba(0,0,0,0.16) !important;
          background: rgba(#fff,0.1) !important;
        }
      }
      .react-selectize-control {
        background: #fff !important;
        border: none !important;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        margin-bottom: $half-spacing-unit;
        @media #{$medium}{
          margin: 0;
        }
      }
      span {
        white-space: nowrap;
        width: 207px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }
      &--small {
        span {
          width: 4em;
        }
      }
    }

  }
  &__form{
    display: inline-block;
    vertical-align: top;
    margin-right: $base-spacing-unit;
    max-width: 900px;
    width: 100%;
    position: relative;
    @media #{$medium}{
      padding-right: $base-spacing-unit*6;
    }
  }
  &__button {
    display: inline-block;
    vertical-align: top;
    button {
      margin-top: 2px;
    }
    @media #{$medium}{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.exercise {
  &__container {
    padding: $half-spacing-unit;
    padding-bottom: 0;
    @media #{$medium}{
      padding: $base-spacing-unit;
    }
  }
  &__message {
    @include rem(25);
    max-width: 300px;
    margin: $base-spacing-unit auto;
    @media #{$medium}{
      @include rem(38);
      max-width: initial;
    }
  }
  &__inner-container {
    overflow-y: auto;
    border: 2px dashed rgba($gray, 0.3);
    height: calc(100vh - 360px);
    padding: $base-spacing-unit 0;
    border-radius: 3px;
    text-align: center;
    overflow-x: auto;
    @media #{$medium}{
      height: calc(100vh - 164px);
    }
  }
  &__image {
    max-width: initial;
    @media #{$medium}{
      max-width: 100%;
    }
  }
}

.form {
  &__input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba($gray-label, 0.3);
    padding: $half-spacing-unit/2 $half-spacing-unit;
    outline: none;
    &--small {
      width: 20%;
      display: inline-block;
      margin: 0 $half-spacing-unit;
    }
    &--medium {
      width: 40%;
      display: inline-block;
      margin: 0 $half-spacing-unit;
    }
    &--large {
      width: 68%;
      display: inline-block;
      margin: 0 $half-spacing-unit;
    }
  }
  &__border {
    padding: $base-spacing-unit;
    border-radius: 8px;
    border: 1px solid $gray-highlight;
    background-color: rgba($gray-bckgr, 0.5);
  }
}

.react-selectize-search-field-and-selected-values {
  max-height: 50px;
}