.search {
  &__header {
    background-color: rgba($gray-bckgr, 0.4);
    border-bottom: 2px solid $gray-bckgr;
  }
  &__title {
    display: inline-block;
    margin: 0 $base-spacing-unit 0 0;
    vertical-align: top;
    @include rem(28);
    color: $gray-label;
  }
  &__main {
    padding: $base-spacing-unit;
    &-input {
      display: inline-block;
      width: 75% !important;
      margin-bottom: $half-spacing-unit;
    }
  }
  &__subsection {
    &-group {
      display: inline-block;
      width: 24%;
      margin-right: $half-spacing-unit;
    }
    &-input {
      width: 100% !important;
      @include rem(14);
    }
  }
  &__form{
    display: inline-block;
    vertical-align: top;
    min-width: 800px;
  }
}
