.main-form {
  &__label {
    color: $gray-label;
    @include rem(14);
    margin: 0;
    font-weight: 300;
    display: block;
    text-align: left;
    &--large {
      @include rem(18);
    }
  }
  &__input {
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 8px;
    border: 1px solid $gray-highlight;
    height: 45px;
    padding: 0 $half-spacing-unit;
    outline: none;
  }
}
